.chess-grid > .row {
    min-width: 640px;
}

.tile {
    width: 80px;
    height: 80px;
    padding: 0%;
}

@media screen and (max-width: 900px) {
    .chess-grid > .row {
        min-width: 520px;
    }

    .tile {
        width: 65px;
        height: 65px;
        padding: 0%;
    }
}

@media screen and (max-width: 540px) {
    .chess-grid > .row {
        min-width: 416px;
    }

    .tile {
        width: 52px;
        height: 52px;
        padding: 0%;
    }
}

@media screen and (max-width: 438px) {
    .chess-grid > .row {
        min-width: 360px;
    }

    .tile {
        width: 45px;
        height: 45px;
        padding: 0%;
    }
}

@media screen and (max-width: 380px) {
    .chess-grid > .row {
        min-width: 320px;
    }

    .tile {
        width: 40px;
        height: 40px;
        padding: 0%;
    }
}

/*Black pieces */
.piece-5 {
    background-image: url('../../assets/chess-pieces/b_pawn_svg_NoShadow.svg');
}

.piece-0 {
    background-image: url('../../assets/chess-pieces/b_rook_svg_NoShadow.svg');
}

.piece-1 {
    background-image: url('../../assets/chess-pieces/b_knight_svg_NoShadow.svg');
}

.piece-2 {
    background-image: url('../../assets/chess-pieces/b_bishop_svg_NoShadow.svg');
}

.piece-3 {
    background-image: url('../../assets/chess-pieces/b_queen_svg_NoShadow.svg');
}

.piece-4 {
    background-image: url('../../assets/chess-pieces/b_king_svg_NoShadow.svg');
}

/*White pieces */
.piece-11 {
    background-image: url('../../assets/chess-pieces/w_pawn_svg_NoShadow.svg');
}

.piece-6 {
    background-image: url('../../assets/chess-pieces/w_rook_svg_NoShadow.svg');
}

.piece-7 {
    background-image: url('../../assets/chess-pieces/w_knight_svg_NoShadow.svg');
}

.piece-8 {
    background-image: url('../../assets/chess-pieces/w_bishop_svg_NoShadow.svg');
}

.piece-9 {
    background-image: url('../../assets/chess-pieces/w_queen_svg_NoShadow.svg');
}

.piece-10 {
    background-image: url('../../assets/chess-pieces/w_king_svg_NoShadow.svg');
}

.piece {
    transform: translate(0px, 7px);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 82%;
}

.hint {
    background-image: url('../../assets/chess-board/hint.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.pointer-events-none {
    pointer-events: none;
}