@media (max-width: 420px) {
    .chess-grid > .row {
        width: 290px;
    }

    .chess-grid div.row div[class^="col-"] {
        width: 36px;
        height: 36px;
    }

    .chess-stat {
        margin-top: 15px;
    }
}

@media (min-width: 420px) {

    .chess-grid > .row {
        min-width: 650px;
    }

    .chess-grid div.row div[class^="col-"] {
        width: 50px;
        height: 50px;
    }

    .chess-stat {
        margin-top: 15px;
    }
}

@media (min-width: 768px) {

    .chess-grid div.row div[class^="col-"] {
        width: 70px;
        height: 70px;
    }

    .chess-stat {
           margin-top: 0 !important;
       }
}

@media (min-width: 992px) {

    .chess-grid > .row {
        width: 450px;
    }

    .chess-grid div.row div[class^="col-"] {
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 1200px) {
    .chess-grid div.row div[class^="col-"] {
        width: 80px;
        height: 80px;
    }
}

.container .row {
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
}

.container > .row > div[class^="col-"] {
    padding: 0;
}

.container img {
    max-height: 100%;
    max-width: 100%;
}

.chess-grid .row {
    margin-right: 0 !important;
}

.chess-grid .row div[class^="col-"] {
    vertical-align: middle;
    text-align: center;
    padding: 0;
    width: 90px;
    height: 90px;
}

/*Black pieces */
.piece-1-0, .piece-1-1, .piece-1-2, .piece-1-3, .piece-1-4, .piece-1-5, .piece-1-6, .piece-1-7 {
    background-image: url('../../assets/chess-pieces/b_pawn_svg_NoShadow.svg');
}

.piece-0-0, .piece-0-7 {
    background-image: url('../../assets/chess-pieces/b_rook_svg_NoShadow.svg');
}

.piece-0-1, .piece-0-6 {
    background-image: url('../../assets/chess-pieces/b_knight_svg_NoShadow.svg');
}

.piece-0-2, .piece-0-5 {
    background-image: url('../../assets/chess-pieces/b_bishop_svg_NoShadow.svg');
}

.piece-0-3 {
    background-image: url('../../assets/chess-pieces/b_queen_svg_NoShadow.svg');
}

.piece-0-4 {
    background-image: url('../../assets/chess-pieces/b_king_svg_NoShadow.svg');
}

/*White pieces */
.piece-6-0, .piece-6-1, .piece-6-2, .piece-6-3, .piece-6-4, .piece-6-5, .piece-6-6, .piece-6-7 {
    background-image: url('../../assets/chess-pieces/w_pawn_svg_NoShadow.svg');
}

.piece-7-0, .piece-7-7 {
    background-image: url('../../assets/chess-pieces/w_rook_svg_NoShadow.svg');
}

.piece-7-1, .piece-7-6 {
    background-image: url('../../assets/chess-pieces/w_knight_svg_NoShadow.svg');
}

.piece-7-2, .piece-7-5 {
    background-image: url('../../assets/chess-pieces/w_bishop_svg_NoShadow.svg');
}

.piece-7-3 {
    background-image: url('../../assets/chess-pieces/w_queen_svg_NoShadow.svg');
}

.piece-7-4 {
    background-image: url('../../assets/chess-pieces/w_king_svg_NoShadow.svg');
}