.chess-grid > .row {
    min-width: 640px;
}

.tile {
    width: 80px;
    height: 80px;
    padding: 0%;
}

@media screen and (max-width: 900px) {
    .chess-grid > .row {
        min-width: 520px;
    }

    .tile {
        width: 65px;
        height: 65px;
        padding: 0%;
    }
}

@media screen and (max-width: 540px) {
    .chess-grid > .row {
        min-width: 416px;
    }

    .tile {
        width: 52px;
        height: 52px;
        padding: 0%;
    }
}

@media screen and (max-width: 438px) {
    .chess-grid > .row {
        min-width: 360px;
    }

    .tile {
        width: 45px;
        height: 45px;
        padding: 0%;
    }
}

@media screen and (max-width: 380px) {
    .chess-grid > .row {
        min-width: 320px;
    }

    .tile {
        width: 40px;
        height: 40px;
        padding: 0%;
    }
}

/* @media (min-width: 360px) {
    .chess-grid > .row {
        min-width: 400px;
    }

    .tile {
        width: 50px;
        height: 50px;
        padding: 0%;
    }
}

@media (min-width: 476px) {
    .chess-grid > .row {
        min-width: 432px;
    }

    .tile {
        width: 56.5px;
        height: 56.5px;
        padding: 0%;
    }
}

@media (min-width: 500px) {
    .chess-grid > .row {
        min-width: 480px;
    }

    .tile {
        width: 60px;
        height: 60px;
        padding: 0%;
    }
}

@media (min-width: 578px) {
    .chess-grid > .row {
        min-width: 440px;
    }

    .tile {
        width: 55px;
        height: 55px;
        padding: 0%;
    }
}

@media (min-width: 768px) {
    .chess-grid > .row {
        min-width: 560px;
    }

    .tile {
        width: 70px;
        height: 70px;
        padding: 0%;
    }
}

@media (min-width: 992px) {
    .chess-grid > .row {
        width: 640px;
    }

    .tile {
        width: 80px;
        height: 80px;
        padding: 0%;
    }
}

@media (min-width: 1200px) {
    .tile {
        width: 80px;
        height: 80px;
        padding: 0%;
    }
} */

/*Black pieces */
.piece-5 {
    background-image: url('../../assets/chess-pieces/b_pawn_svg_NoShadow.svg');
}

.piece-0 {
    background-image: url('../../assets/chess-pieces/b_rook_svg_NoShadow.svg');
}

.piece-1 {
    background-image: url('../../assets/chess-pieces/b_knight_svg_NoShadow.svg');
}

.piece-2 {
    background-image: url('../../assets/chess-pieces/b_bishop_svg_NoShadow.svg');
}

.piece-3 {
    background-image: url('../../assets/chess-pieces/b_queen_svg_NoShadow.svg');
}

.piece-4 {
    background-image: url('../../assets/chess-pieces/b_king_svg_NoShadow.svg');
}

/*White pieces */
.piece-11 {
    background-image: url('../../assets/chess-pieces/w_pawn_svg_NoShadow.svg');
}

.piece-6 {
    background-image: url('../../assets/chess-pieces/w_rook_svg_NoShadow.svg');
}

.piece-7 {
    background-image: url('../../assets/chess-pieces/w_knight_svg_NoShadow.svg');
}

.piece-8 {
    background-image: url('../../assets/chess-pieces/w_bishop_svg_NoShadow.svg');
}

.piece-9 {
    background-image: url('../../assets/chess-pieces/w_queen_svg_NoShadow.svg');
}

.piece-10 {
    background-image: url('../../assets/chess-pieces/w_king_svg_NoShadow.svg');
}

.piece {
    width: 100%;
    height: 100%;
}